*{
    margin: 0%;
}
body{
    position: relative;
}
.hero{
    height:706px;
    width:auto;
    background-image: url(image/B1.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
    
}
nav{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
}
.logo{
    width: 180px;
    
}
nav ul li{
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display:inline-block;
    list-style: none;
    margin: 5px 5px;
    color: #fff;
    font-family:cursive;
}
nav ul li a{
    text-decoration: none;
    color:#ffffff;
    font-weight: 400;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 10px;
    color:#fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 20px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.btn2{
    display: inline-block;
    text-decoration: none;
    padding: 14px 10px;
    color:#fff;
    background-image: linear-gradient(45deg, #48a5df, #7e4886);
    font-size: 20px;
    border-radius: 30px;
    border-top-right-radius: 30px   ;
   
}
.content{
    margin-top: 10%;
    max-width: 600px;

}
.content h1{
    font-size: 70px;
    color:#ffffff;

}
.content p{
    margin:10px 0 30px;
    color: #f9f7f7;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
}
.btn:hover{
    border-top-right-radius: 30px;
}






























































